:root {
    --background-color: #fffef8;
    --logo-color: #b1663c;
    --font-color: #000;
    --title-color: #1d6154;
    --button-hover: #0e2f28;
}

body {
    height: 100%;
    margin: auto;
    font-family: "Work Sans";
    font-weight: 400;
    font-size: 14px;
    background-color: var(--background-color);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    max-width: 1100px;
    padding-inline: 20px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header,
footer {
    width: 100%;
}

main {
    max-width: 950px;
    padding-inline: 40px;
    flex: 1;
}

h1 {
    font-family: "Syne";
    font-size: 22px;
    font-weight: 800;
    color: #b1663c;
}

h1 a {
    display: flex;
    flex-direction: column;
}

header span,
.error-message {
    font-family: "Work Sans";
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: #b1663c;
}

h2 {
    font-family: "Syne";
    font-weight: 700;
    font-size: 30px;
    color: #1d6154;
}

h3 {
    font-size: 26px;
    font-weight: 500;
}

hr {
    color: #b3b3b3;
}

/****** submit form container ******/

.submit-section {
    display: flex;
    margin-top: 60px;
    align-items: center;
    flex-direction: column;
    margin-inline: auto;
    width: 380px;
}

.submit-section h2 {
    margin-bottom: 10px;
}

.submit-section .button-input {
    margin-block: 40px;
    margin-inline: auto;
    background-color: #1d6154;
    color: white;
}

/****** submit form ******/

.submit-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.submit-form input:not([type="submit"]),
.submit-form select {
    height: 50px;
    font-size: 1.2em;
    padding-left: 1em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

select {
    appearance: none;
    background-color: white;
}

.submit-form label {
    text-align: left;
    margin-top: 2.4em;
    margin-bottom: 0.6em;
}

.submit-form textarea {
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

/****** button input ******/

.button-input {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Syne";
    font-weight: 700;
    height: 36px;
    width: fit-content;
    padding-inline: 2em;
    text-align: center;
    border-radius: 60px;
    color: #1d6154;
    border: 1px solid #1d6154;
    cursor: pointer;
}

#portfolio input[type="radio"]:checked + .button-input {
    background-color: #1d6154;
    color: white;
}

#portfolio .button-input:hover,
#contact .button-input:hover,
#login .button-input:hover,
.modal-form .button-input:hover {
    background-color: var(--button-hover);
    color: white;
}

.button-input:disabled {
    background-color: #b3b3b3 !important;
    border-color: #b3b3b3 !important;
    pointer-events: none;
}

/****** button link ******/

.button-link {
    text-decoration: underline;
}

/****** error message ******/

.error-message {
    font-size: 11px;
    color: red;
    padding-top: 0.5rem;
    width: fit-content;
    padding-inline: 0.5rem;
    margin-inline: auto;
}

/****** banner ******/

.edit-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100vw;
    gap: 10px;
    background-color: #000;
    color: white;
    font-size: 16px;
}

/****** header ******/

header {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

nav ul {
    display: flex;
    gap: 40px;
    align-items: center;
    list-style-type: none;
}

select,
nav li {
    cursor: pointer;
}

li:hover {
    font-weight: 900;
}

nav img {
    width: 20px;
}

/****** introduction section ******/

#introduction {
    display: grid;
    grid-template-columns: 1.08fr 0.92fr;
    align-items: center;
    gap: 72px;
    margin-block: 112px;
}

#introduction img {
    display: block;
    margin: auto;
    width: 100%;
}

#introduction h2 {
    margin-bottom: 10px;
}

#introduction p {
    margin-bottom: 10px;
}

/****** portfolio section ******/

#portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-title {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}

#portfolio .edit-button {
    display: flex;
    align-items: flex-end;
    line-height: 0.9em;
    gap: 10px;
}

#portfolio form {
    display: flex;
    gap: 10px;
}

/* hide radios and create a focus for radio label categories */

input[type="radio"] {
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
}

input[type="radio"]:focus-visible + .button-input {
    outline: 2px solid black;
}

/****** portfolio gallery ******/

.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-block: 50px;
}

.gallery img {
    width: 100%;
}

.modify-button {
    display: inline;
}

/****** portfolio edit modal ******/

.modal {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-wrapper {
    background-color: white;
    width: 630px;
    max-width: calc(100vw - 20px);
    max-height: calc(100vh - 20px);
    height: fit-content;
    border-radius: 10px;
    padding: 30px 36px;
}

.modal-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.modal-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 70px;
    padding-block: 15px;
}

.modal-form {
    width: 100%;
}

.modal-form p {
    text-align: center;
}

.modal-form hr {
    margin-top: 36px;
    margin-bottom: 36px;
    width: 100%;
}

.modal-form .button-input {
    width: 230px;
}

.modal-form .button-input {
    margin-inline: auto;
}

.modal-form .button-input {
    background-color: #1d6154;
    color: white;
}

.fa-pen-to-square {
    font-size: 16px;
}

.fa-arrow-left,
.fa-xmark {
    font-size: 20px;
}

.inner-form-modal {
    margin-block: 50px;
}

/****** portfolio edit main-modal ******/

.modal-content .delete-works {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 30px;
    column-gap: 10px;
    padding-block: 50px;
}

.modal-content figure {
    position: relative;
}

.modal-content .delete-icon {
    position: absolute;
    right: 5px;
    top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    width: 17px;
    height: 17px;
    border-radius: 2px;
}

.modal-content .delete-icon {
    color: white;
    font-size: 10px;
}

/****** portfolio edit sub-modal ******/

.sub-modal {
    display: none;
}

.add-works {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 16px;
}

.wrapper-image-selector {
    position: relative;
    width: 100%;
    min-height: 192px;
    padding-block: 20px;
    background-color: #e8f1f6;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-image-selector .fa-image {
    font-size: 76px;
    color: #b9c5cc;
}

.wrapper-image-selector label {
    margin-block: 10px;
    padding-block: 10px;
    padding-inline: 35px;
    background-color: #cbd6dc;
    font-weight: 600;
    color: #306685;
    border-radius: 30px;
    max-width: 320px;
    text-align: center;
}

.wrapper-image-selector span {
    font-size: 10px;
}

#image-selector-input {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
    padding: 0;
    opacity: 0;
    cursor: pointer;
}

#image-selector-input:focus-visible + label {
    outline: 2px solid black;
}

.image-preview {
    display: none;
    position: absolute;
    height: 100%;
    top: 0;
}

.wrapper-category-selector {
    position: relative;
}

.wrapper-category-selector #category-select {
    width: 100%;
}

.wrapper-category-selector .fa-angle-down {
    position: absolute;
    right: 20px;
    top: 20px;
    pointer-events: none;
    color: #b3b3b3;
}

/****** footer ******/

footer {
    width: 100vw;
    background-color: white;
    padding-block: 20px;
    padding-inline: 95px;
}

footer nav ul {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 900px) {
    #introduction {
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 20px;
    }

    #introduction article {
        max-width: 500px;
    }
}
