:root {
    --background-color: #fffef8;
    --logo-color: #b1663c;
    --font-color: #000;
    --title-color: #1d6154;
    --button-hover: #0e2f28;
}

body {
    height: 100%;
    margin: auto;
    font-family: "Work Sans";
    font-weight: 400;
    font-size: 14px;
    background-color: var(--background-color);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    max-width: 1140px;
    overflow-x: hidden;
}

header, footer {
    width: 100%;
}

main {
    margin-inline: 95px;
    flex: 1;
}

/****** submit form container ******/

.submit-section {
    display: flex;
    margin-top: 60px;
    align-items: center;
    flex-direction: column;
    margin-inline: auto;
    width: 380px;
}

.submit-section h2 {
    margin-bottom: 10px;
}

.submit-section .button-input {
    margin-block: 40px;
    margin-inline: auto;
    background-color: #1d6154;
    color: white;
}

/****** submit form ******/

.submit-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.submit-form input:not([type="submit"]) {
    height: 50px;
    font-size: 1.2em;
    padding-left: 1em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.submit-form label {
    text-align: left;
    margin-top: 2.4em;
    margin-bottom: 0.6em;
}

.submit-form textarea {
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

/****** button input ******/

.button-input {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Syne";
    font-weight: 700;
    height: 36px;
    width: fit-content;
    padding-inline: 2em;
    text-align: center;
    border-radius: 60px;
    color: #1d6154;
    border: 1px solid #1d6154;
    cursor: pointer;
}

#portfolio .button-input:hover,
#contact .button-input:hover {
    background-color: var(--button-hover);
    color: white;
}

/****** button link ******/

.button-link {
    text-decoration: underline;
}

/****** header ******/

header {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

h1 {
    font-family: "Syne";
    font-size: 22px;
    font-weight: 800;
    color: #b1663c;
}

h1 a {
    display: flex;
    flex-direction: column;
}

h1 a > span {
    font-family: "Work Sans";
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}

h2 {
    font-family: "Syne";
    font-weight: 700;
    font-size: 30px;
    color: #1d6154;
}

nav ul {
    display: flex;
    gap: 40px;
    align-items: center;
    list-style-type: none;
}

nav li {
    cursor: pointer;
}

li:hover {
    font-weight: 900;
}

nav img {
    width: 20px;
}

/****** introduction section ******/

#introduction {
    display: grid;
    grid-template-columns: 1.08fr 0.92fr;
    align-items: center;
    gap: 72px;
    margin-block: 112px;
}

#introduction img {
    display: block;
    margin: auto;
    width: 100%;
}

#introduction h2 {
    margin-bottom: 10px;
}

#introduction p {
    margin-bottom: 10px;
}

/****** portfolio section ******/

#portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#portfolio form {
    margin-block: 50px;
    display: flex;
    gap: 20px;
}

input[type="radio"] {
    display: none;
}

#portfolio input[type="radio"]:checked + .button-input {
    background-color: #1d6154;
    color: white;
}

.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.gallery img {
    width: 100%;
}

/****** footer ******/

footer {
    width: 100vw;
    background-color: white;
    padding-block: 20px;
    padding-inline: 95px;
}

footer nav ul {
    display: flex;
    justify-content: flex-end;
}